/node_modules/
/package-lock.json
/api/wss/_build/
/api/wss/.elixir_ls/
/api/wss/deps
/api/wss/test/
/api/wss/cover/
/api/wss/mix.lock
/api/wss/doc/
/api/wss/.fetch
erl_crash.dump
*.ez
/api/wss/tmp/
/tmp/
ws-*.tar
/priv/static/assets/
/priv/static/cache_manifest.json
npm-debug.log
/api/ws_test/
*.lock
/dist/